nav{
    position: sticky;
    top: 0px;
    left: 0px;
    right: 0px;
    min-width: 600px;
    display: flex;
    justify-content: space-around;
    background-color: white;  
    z-index: 10;
}
nav>div{
    width: 40%;
    padding: 0px 40px;
}
nav>div:first-child a{
    text-decoration: none;
    color: red;
    width: 20%;
    font-size: 26px;
    font-weight: 700;
    padding: 20px 10px;
    display: flex;
    align-items: center;
}
#logo::after{
    content: "airbnb";
    margin-left: 30px;
}
#logo{
    height: 30px;
    width: 30px;
    background-image: url("./assets/images/logo.png");
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 2%;
}
nav>div:last-child{
    display: flex; 
    justify-content: end;
    align-items: center;
}
nav>div:last-child a{
    color: black;
    margin: 0px 15px;
    font-size: 17px;
}
#form{
    width: 360px;
    height: 400px;
    padding: 20px;
    border-radius: 10px;
    background-color: white;
    position: relative;
    top: 40px;
    left: -290px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    z-index: 9;
}
#form>p{
    font-size: 17px;
    color: #717171ff;
}
#form form input{
    border: 0px;
}
#form h2{
    font-size: 38px;
}
#bg-img{
    width: 68%;
    height: 530px;
    background-image: url("./assets/images/background-img.webp");
    background-position: right;
    background-size: cover;
    margin-left: 25%;
    margin-right: 5%;
    margin-top: 4%;
    border-radius: 8px;
}
.line{
    display: flex;
    margin: 8px 0px;
}
.in{
    height: 22px;
    width: 96.5%;
    border-radius: 10px;
    padding: 18px 0px 0px 10px;
}
.in2{
    height: 22px;
    width: 93%;
    border-radius: 10px;
    padding: 18px 0px 0px 10px;
    margin: 0px -0.5px;
}
#sub{
    height: 40px;
    width: 100%;
    background-color: #E31C5F;
    border: 0px;
    color: white;
    border-radius: 8px;
    margin-top: 10px;
}
#out{
    margin-top: 70px;
    display: flex;
    justify-content: space-between;
    padding: 50px;
}
#out>div{
    height: 100%;
    width: 33%;
    margin: 0px 40px;
}
.icon-img{
    height: 12%;
    width: 7%;
    object-fit: contain;
}
.head{
    font-size: 25px;
    color: #222222;
}
.text{
    position: relative;
    bottom: 15px;
    font-size: 20px;
    color: #222222;
}
#h2{
    margin-left: 60px;
    margin-bottom: -80px;
    font-size: 35px;
}
#out1{
    margin-top: 70px;
    display: flex;
    justify-content: space-between;
    padding: 50px;
}
#out1>div{
    height: 100%;
    width: 33%;
    margin: 0px 9px;
}
#out1 a{
    text-decoration: none;
}
#out1 h5{
    font-size: 20px;
    position: relative;
    bottom: 30px;
    color: #222222;
}
#out1 p{
    font-size: 18px;
    position: relative;
    bottom: 60px;
    color: #717171ff;
}
.h3{
    font-size: 33px;
    margin-left: 60px;
}
.para{
    font-size: 20px;
    margin-left: 60px;
    margin-top: -20px;
}
.out2{
    padding: 0% 4%;
    display: flex;
    gap: 2%;
}
.out2>div{
    width: 23%;
}
.out2>div a{
    text-decoration: none;
}
.kit-img{
    height: 70%;
    border-radius: 10px;
    overflow: hidden;
}
.label{
    font-weight: 600;
    font-size: 16px;
    color: #222222;
    position: relative;
    top: -2%;
}
.des{
    font-size: 16px;
    color: #717171ff;
    position: relative;
    top: -5%;
}
.price{
    display: inline-block;
    color: #717171ff;
}
.out2>div div:last-child{
    position: relative;
    top: -11%;
    color: #222222;
}